body {
    background-image:url(mountains.png);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    font-size: 1.5rem;
  }

.hero {
    background-color: rgba(3,3,3, 0.5);
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    bottom: 100;
    position: absolute;
  }

h1 {
    color: white;
    margin-top: 13rem;
    margin-bottom: 0px;
   
}
.lead {
    font-size: 2rem; 
}