<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do list</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

  <!--Style muss immer in der Head-Section sein-->
 
  </head>
  
  <body>
<!-- div class="hero" macht einen (transparenten) Filter über das Hintergrundbild. So wirkt es etwas abgedunkelt.-->
    <div class="hero">
        <div class="container">
          <br />
          <div class="row">
            <div class="col-8 mx-auto">
              <div class="row">
                <div class="col-4 mx-auto"><a class="navlink" href="{{ url_for('home') }}">OPEN</a></div>
                <div class="col-4"><a class="navlink active" href="{{ url_for('done_todos') }}">DONE</a></div>
              </div>
            </div>
          </div>

          <h1 class="text-center display-1">DONE TODOS</h1>
          <p class="lead text-center"> These are all your done ToDos</p>

          {% if done_todos %}
              <div class="row">
                <ul class="col-8 mx-auto">
                  {% for todo in done_todos %}
                    <li>{{ todo }} <span style="float: right;"><a href="{{ url_for('mark_as_open', todo_as_open=todo) }}" class="btn btn-primary">Mark as undone</a></span></li>
                  {% endfor %}
                </ul> 
              </div>
            </div>
          {% else %}
            <div class="row">
              <div class="mx-auto error_message" style="background-color: rebeccapurple; color: lightgrey; padding: 0 10px 0 10px;">
                No done ToDos
              </div>
            </div>
          {% endif %}
    </div>
  </body>
</html>

