<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do list</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">-->
    <link rel="stylesheet" type="text/css" href="../static/main.css">

  <!--Style muss immer in der Head-Section sein-->
 
  </head>
  
  <body>
<!-- div class="hero" macht einen (transparenten) Filter über das Hintergrundbild. So wirkt es etwas abgedunkelt.-->
    <div class="hero">
        <div class="container">
            <h1 class="text-center display-1"> WHAT'S ON YOUR MIND?</h1>
            <p class="lead text-center"> Welcome to my To Do List Application, where u can free your mind. :)</p>
            <div class="row">
        <!--mx-auto zentriert die Einfüge-Box-->
                <form class="col-8 mx-auto">
                    <div class="input-group">
        <!--Input-group = Button kommt rechts neben Einfüge-Box-->
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="What to do?"> 
                      <span><button type="submit" class="btn btn-primary">Submit</button></span>
        <!--Span (Inline-Element) hilft mir, um Elemente für Stylingzwecke zu gruppieren-->
                    </div>
                    
                  </form>
      
            </div>
            <div class="row">
              <ul class="col-8 mx-auto">
                   <li>To Do List Item <input type="checkbox" aria-label="Checkbox for following text input"> </li>
                   <li>To Do List Item <input type="checkbox" aria-label="Checkbox for following text input"> </li>
                   <li>To Do List Item <input type="checkbox" aria-label="Checkbox for following text input"> </li>
              </ul> 
            </div>
          </div>

    </div>

     
   
  </body>
</html>

