<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do list</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

  <!--Style muss immer in der Head-Section sein-->
 
  </head>
  
  <body>
<!-- div class="hero" macht einen (transparenten) Filter über das Hintergrundbild. So wirkt es etwas abgedunkelt.-->
    <div class="hero">
        <div class="container">
          <br />
          <div class="row">
            <div class="col-8 mx-auto">
              <div class="row">
                <div class="col-4 mx-auto"><a class="navlink active" href="{{ url_for('home') }}">OPEN</a></div>
                <div class="col-4"><a class="navlink" href="{{ url_for('done_todos') }}">DONE</a></div>
              </div>
            </div>
          </div>

          <h1 class="text-center display-1"> WHAT'S ON YOUR MIND?</h1>
          <p class="lead text-center"> Welcome to my To Do List Application, where u can free your mind. :)</p>
          <div class="row">
        <!--mx-auto zentriert die Einfüge-Box-->
                <form class="col-8 mx-auto" method="post">
                    <div class="input-group">
        <!--Input-group = Button kommt rechts neben Einfüge-Box-->
                      <input type="text" class="form-control" name="todo_text" placeholder="What to do?"> 
                      <span><button type="submit" class="btn btn-primary">Submit</button></span>
        <!--Span (Inline-Element) hilft mir, um Elemente für Stylingzwecke zu gruppieren-->
                    </div>
                  </form>
            </div>

            <div class="row">
              <div class="mx-auto error_message" style="background-color: rebeccapurple; color: lightgrey; padding: 0 10px 0 10px;">
                {% if error != None %}
                  {{ error }}
                {% endif %}
              </div>
            </div>

            {% if open_todos %}
              <div class="row">
                <ul class="col-8 mx-auto">
                  {% for todo in open_todos %}
                    <li>{{ todo }} <span style="float: right;"><a href="{{ url_for('mark_as_done', todo_as_done=todo) }}" class="btn btn-primary">Done</a></span></li>
                  {% endfor %}
                </ul> 
              </div>
            {% else %}
              <br />
              <div class="row">
                <div class="mx-auto error_message" style="background-color: rebeccapurple; color: lightgrey; padding: 0 10px 0 10px;">
                  No open ToDos
                </div>
              </div>
            {% endif %}
          </div>

    </div>

     
   
  </body>
</html>

